@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*change these */
#primary-color {
  #6C63FF   
}
#secondary-color {
  #3AD29F
}
#third-color {
  #F55F44
}

/* leave these */
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
.app-bar {
  width: 100vw;
  height: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  position: fixed;
  bottom: 0;
}
.app-btn {
  width: 14vw;
  height: 14vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-icon {
  width: 50%;
  opacity: 69%;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.award-div {
  display: flex;
  width: 80vw;
  height: 20vh;
  border-radius: 29%;
  margin-top: 5vh;
  
}

.award-info-holder {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.svg-holder {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.svg-trophy {
  width: 65%;
  height: 65%;
}
.award-title {
  font-size: 7vw;
  margin-top: 3vh;
}
.qr-holder {
  width: 48vw;
  height: 48vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12.5%;
  margin-top: 10vw;
}
.qr-code {
  width: 100%;
  border-radius: 12.5%;
}
.page-title {
  color: white;
  font-size: 3.4vh;
}
.trophy-logo {
  z-index: 999;
  height: 6.5vw;
  position: relative;
  right: 42%;
  bottom: 15%;
}
.settings-svg {
 width: 70vw;
}
.settings-buttons {
 margin-top: 19vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100vw;
 height: 50vw;
}
.settings-div-button {
 margin-top: 5vw;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 80vw;
 height: 12vw;
 border-radius: 13.5%;
}
.settings-div-button > p {
 color: white;
 font-size: 2vh;
}
.referral-svg {
 width: 100vw;
 margin-right: 6vw;
}
.gift-logo-overlay {
 position: absolute;
 z-index: 999;
 top: 60vw;
 right: 43vw;
 width: 12vw;
}
.caption-holder {
 display: flex;
 flex-direction: column;
 width: 100vw;
 height: 12vh;
 align-items: center;
 margin-top: 5vh;
}
.referral-description {
 color: #8E8E8E;
 font-size: 1.8vh;
 width: 70vw;
 height: 10vh;
 text-align: center;
}
.spaced-down {
 margin-top: 6vw;
}
.sr-div {
 width: 17vw;
 height: 5vh;
 border-radius: 13.5%;
 background-color: #535461;
 display: flex;
 justify-content: center;
 align-items: center;
}
.sr-div > img {
 height: 51%;
}
.sr-row {
 width: 50vw;
 height: 14vw;
 display: flex;
 justify-content: space-between;
 margin-top: 10vw;
 
}
.recent-txs-div {
 width: 70vw;
 background-color: #535461;
 height: 42vw;
 border-radius: 8.5%;
 margin-top: 10vw;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.copied-ref {
 width: 70vw;
 height: 15vh;
 background-color: #242424;
}
.txs-title {
 color: #8E8E8E;
 font-size: 2vh;
 margin-top: 2vh;
}
.welcome-card {
 width: 88vw;
 height: 49vw;
 border-radius: 4.5%;
}

